
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nunito+Sans&display=swap');

#letra{
    font-family:'Black Han Sans' !important;
    font-weight: 500;
    font-size: larger;
}

.paddingNavbar{
    padding: 0px 15%;
}

.paddingFooter{
    padding: 50px 0px;
}

.boton{
    width: 16px;
    height: 16px;
}

.paddingRolling{
    padding-left: 14%;
}

.cover{
    object-fit: cover;
    width: 90%;
}


footer{
    background-color: #343A40;
    overflow-x: hidden !important
}
main{
    overflow-x: hidden !important
}

.img{
    height: 440px;
    object-fit: cover;
}
.img2{
    height: 100%;
    object-fit: cover;
}

.div1{
    height: 450px;
}

footer a:hover{
   text-decoration: underline !important;
}

aside{
    padding: 0 !important;
}

.asideMedio{
    margin: 0px 40px;
}

.paddingMain{
    padding: 50px;
}

.paddingQS{
    padding: 40px;
}

footer a:hover{
    text-decoration: overline;
}

@media screen and (max-width: 767px){
    .responsive{
        text-align: center;
        justify-content: center;
    }

    .mainCol{
        text-align: center;
    }

    .img-banner-responsive{
        object-fit: cover;
        height: 250px;
    }

    .img2{
        width: 100%;
    }
    .paddingRolling{
        padding-left: 0%;
    }

    .containerCol{
        order: 1 !important;
    }

    .containerImg{
        order: 2 !important;
    }

    

}

@media screen and (min-width: 767px) and (max-width: 1000px){
    .paddingRolling{
        padding-left: 7%;
    }
}


